.App {
  margin-left: 100px;
  margin-right: 100px;
  padding: 0;
}
.color-text{
  color: orange;
}
.title-components{
  margin-bottom: 30px;

}
.color-brand{
  color:grey;
}
/* Info component */

.blockInfo{
  margin-top: 70px;
  padding-bottom: 50px;

}

.nameUser{
  margin-left: 30px;
  padding-bottom: 5px;
}
.userWork{
  padding-left: 30px;
  color: orange;
}
.infoUser-text{
  position: relative;
}
.photo{
  float: right; /* Обтекание картинки по левому краю */
  padding-bottom: 10px; /* Отступ снизу */
  display: block;
  max-width: 100%;
  height: auto;
}
.strong{
  color: firebrick;
}

/* About */
.blockAbout{
  display: block;
  padding-bottom: 50px;

}

.photo_about{
  float: left; /* Обтекание картинки по левому краю */
  padding-right: 10px; /* Отступ слева */
  padding-bottom: 10px; /* Отступ снизу */
  display: block;
  max-width: 100%;
  height: auto;
}
.about_text{
 
}



.content{

}

.mb-3{
  height: 70px;
  padding-left: 70px;
  margin-bottom: 25px;
}

.contact{
  margin-bottom: 25px;
}



/* Footer */


.link-color{
  color: darkred;
}



#tr-property3 { 

  transition-property: all;
  transition-duration: .8s
 }
 #tr-property3:hover {
  border-radius: 20px; 
  transform: translateY(-20px);
 }
 #tr-dur {
  text-align: center; 
  text-transform: uppercase; 
  font-weight: bold;
  transition-duration: 500ms;
 }
 #tr-dur:hover {
   transform: scale(1.2) rotate(1turn); 
 }
#change-tag{
  transition-duration: 1.500ms;

}
#change-tag :hover {
  transform: scale(1.1) rotate(1turn); 
}